/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: usual, sans-serif;
  font-weight: normal;
  font-size: 16px;
  overflow-x: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}


