/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 18px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /*自定义修改*/
  /*顶部导航条*/
  /*--ifm-navbar-height: 3.75rem;*/
  /*--ifm-navbar-item-padding-vertical: 0.1rem;*/
  /*左侧菜单栏*/
  --ifm-menu-link-padding-vertical: 0.2rem;
  /*整体间距*/
  --ifm-leading-desktop: 1;
  /*整体字体*/
  --ifm-font-size-base: 16px;
  /*底部导航条*/
  --ifm-footer-padding-vertical: var(--ifm-spacing-vertical);
  /*代码*/
  --ifm-pre-padding: 0.5rem 1rem;
  --ifm-pre-line-height: 1.75;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 996px) {
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  article header h1 {
    font-size: 1rem !important;
  }
}

/*自定义修改*/
@media screen and (min-width: 1440px) {

}
/*顶部导航条*/
.navbar__items{
  height: 44px;
}
/*左侧菜单栏*/
.menu__link{
  padding: 0.375rem var(--ifm-menu-link-padding-horizontal);
}
.menu__link--sublist{
  /*color: #000;*/
}
.menu__link.menu__link--sublist{
  /*font-weight: var(--ifm-font-weight-bold);*/
}
/*正文*/
.markdown{
  --ifm-h1-vertical-rhythm-top: 1.5;
  --ifm-h2-vertical-rhythm-top: 1.25;
  --ifm-h3-vertical-rhythm-top: 1;
  --ifm-h1-vertical-rhythm-bottom: 1;
}
/*代码*/
pre code .token-line{
  font-size: 14px;
}
/*黑暗模式 右上角icon*/
[data-theme=dark] .header-github-link:before {
  background: url("/img/github_white.png") no-repeat center;
  background-size: 24px 24px;
}
[data-theme=dark] .header-slack-link:before {
  background: url("/img/slack_white.png") no-repeat center;
  background-size: 24px 24px;
}
[data-theme=dark] .header-twitter-link:before {
  background: url("/img/twitter_white.png") no-repeat center;
  background-size: 24px 24px;
}
/*普通模式 右上角icon*/
.header-github-link:before {
  background: url("/img/github.png") no-repeat center;
  background-size: 24px 24px;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}
.header-slack-link:before {
  background: url("/img/slack.png") no-repeat center;
  background-size: 24px 24px;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}
.header-twitter-link:before {
  background: url("/img/twitter.png") no-repeat center;
  background-size: 24px 24px;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}
/*顶部导航条右上角icon 悬浮*/
a.header-github-link:hover{
  filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
}
a.header-slack-link:hover{
  filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
}
a.header-twitter-link:hover{
  filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
}
/*底部版权信息*/
.footer__copyright{
  color: #898c8c;
}
/*顶部导航条logo*/
.navbar__brand{
  font-size: 20px;
  line-height: 44px;
}